
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">

<dom-module id="menu-list-0" >
    <style>
        paper-item {
            height: 80px;
            border-bottom: 1px solid #dedede;
            background-color: #fafafa;
        }

        .sub-title {
            margin-left: 56px;
        }
    </style>

    <template>

        <paper-item>
            <div class="sub-title">Note0</div>
        </paper-item>
        <paper-item>
            <div class="sub-title">Note1</div>
        </paper-item>
        <paper-item>
            <div class="sub-title">Note2</div>
        </paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
        <paper-item></paper-item>
    </template>
</dom-module>


<script>

    Polymer({

        is: 'menu-list-0'

    });

</script>